[submodule "lib/berkeley-db-1.xx"]
	path = lib/berkeley-db-1.xx
	url = https://github.com/micropython/berkeley-db-1.xx
[submodule "lib/wiznet"]
	path = lib/wiznet5k
	url = https://github.com/andrewleech/wiznet_ioLibrary_Driver.git
	# Requires https://github.com/Wiznet/ioLibrary_Driver/pull/120
	# url = https://github.com/Wiznet/ioLibrary_Driver.git
[submodule "lib/micropython-lib"]
	path = lib/micropython-lib
	url = https://github.com/micropython/micropython-lib.git
[submodule "lib/open-amp"]
	path = lib/open-amp
	url = https://github.com/OpenAMP/open-amp.git
[submodule "lib/libmetal"]
	path = lib/libmetal
	url = https://github.com/OpenAMP/libmetal.git
[submodule "lib/arduino-lib"]
	path = lib/arduino-lib
	url = https://github.com/arduino/arduino-lib-mpy.git
[submodule "lib/alif_ensemble-cmsis-dfp"]
	path = lib/alif_ensemble-cmsis-dfp
	url = https://github.com/alifsemi/alif_ensemble-cmsis-dfp.git
[submodule "lib/alif-security-toolkit"]
	path = lib/alif-security-toolkit
	url = https://github.com/micropython/alif-security-toolkit.git
